---
import Division from "../../../../../components/Division.astro";
import { sePuedeDividir } from "../../../../../lib/division_v3";

const { dividendo, divisor, decimales } = Astro.params;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calculadora de Divisiones</title>
    </head>
    <body>
        <br />
        <div class="container">
            <h1><center>Calculadora de Divisiones</center></h1>

            <div id="result" class="result">
                {
                    sePuedeDividir(dividendo, divisor) ? (
                        <Division
                            dividendo={dividendo}
                            divisor={divisor}
                            decimales={decimales}
                        />
                    ) : (
                        <h1>Error Tipo M.E.MS.</h1>
                    )
                }
            </div>
            <p>
                <center>Creado por: <b>Luis Antonio Nolasco Gómez</b></center>
            </p>
            <p><center>Todos Los derechos reservados</center></p>
        </div>
    </body>
</html>
