---
import Layout_Division from "../../../../../layouts/Layout_Division.astro";
import Division from "../../../../../components/Division.astro";
import { sePuedeDividir } from "../../../../../lib/division_v3";

const { dividendo, divisor, decimales } = Astro.params;
---

<Layout_Division title="Calculadora de Divisiones">
    {
        sePuedeDividir(dividendo, divisor) ? (
            <Division
                dividendo={dividendo}
                divisor={divisor}
                decimales={decimales}
            />
        ) : (
            <h1>Error Tipo M.E.MS.</h1>
        )
    }
</Layout_Division>
