---

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Divisiones de numeros</title>
	</head>
	<body>
		<calculator-component></calculator-component>
	</body>
</html>

<script>
	class CalculatorComponent extends HTMLElement {
		constructor() {
			super();
			this.attachShadow({ mode: "open" });
			this.shadowRoot.innerHTML = `
                    <style>
						
  						/* Ocultar los controles de subir y bajar */
  						input[type=number]::-webkit-outer-spin-button,
  						input[type=number]::-webkit-inner-spin-button {
						    -webkit-appearance: none;
							margin: 0;
  							}

						  input[type=number] {
						    -moz-appearance: textfield; /* Para Firefox */
						  }

                        form {
                            display: flex;
                            flex-direction: column;
                        }
                        input {
                            margin: 10px 0;
                            padding: 10px;
                            width: 100%;
                            box-sizing: border-box;
                        }
                        button {
                            padding: 10px;
                            background-color: #007bff;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        button:hover {
                            background-color: #0056b3;
                        }
                    </style>
                    <h1>Calculadora de Divisiones</h1>
                    <form id="divisionForm">
                        <input type="number" lass="no-spinner" id="dividendo" placeholder="Ingrese el dividendo" required>
                        <input type="number" class="no-spinner" id="divisor" placeholder="Ingrese el divisor" required>
                        <input type="number" class="no-spinner" id="decimales" placeholder="Ingrese el número de decimales" required>
                        <button type="button" id="calculateBtn">Dividir</button>
                    </form>
                `;

			this.shadowRoot
				.querySelector("#calculateBtn")
				.addEventListener("click", () => {
					this.calculate();
				});
		}

		calculate() {
			const dividendo = encodeURIComponent(
				this.shadowRoot.querySelector("#dividendo").value,
			);
			const divisor = encodeURIComponent(
				this.shadowRoot.querySelector("#divisor").value,
			);
			const decimales = encodeURIComponent(
				this.shadowRoot.querySelector("#decimales").value,
			);

			if (divisor === "0") {
				alert("Error: No se puede dividir por cero.");
				return;
			}

			const url = `/divide/${dividendo}/${divisor}/${decimales}`;
			window.location.href = url;
		}
	}

	customElements.define("calculator-component", CalculatorComponent);
</script>
